<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>PhoneSimulatorApplicationDevelopment2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DisplayAll</servlet-name>
  	<jsp-file>/WEB-INF/jsp's/DisplayAllContacts.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayAll</servlet-name>
  	<url-pattern>/disp</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<jsp-file>/WEB-INF/jsp's/SearchName.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/namee</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Addall</servlet-name>
  	<jsp-file>/WEB-INF/jsp's/FullDataAddOn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Addall</servlet-name>
  	<url-pattern>/addd</url-pattern>
  </servlet-mapping>
  
</web-app>